@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .mainTop-before {
        @apply before:w-[80vw] before:h-[80vh] before:-bottom-[30vw] before:left-[20vw] before:-rotate-45 before:absolute before:content-[""] before:block before:bg-white before:opacity-10 before:rounded-[10rem] before:z-[5]
    }

    .mainTop-after {
        @apply after:w-[60vw] after:h-[60vh] after:-bottom-[23vw] after:left-[60vw] after:-rotate-45 after:absolute after:content-[""] after:block after:bg-white after:opacity-10 after:rounded-[10rem] before:z-[5]
    }

    .main-content-box {
        box-shadow: 0 10px 30px rgba(28, 76, 156, .15);
        border-radius: 10px;
        overflow: hidden;
    }

    .main-content-box-img::after {
        content: "مشاهده";
        position: absolute;
        inset: 0;
        background-color: rgba(0, 0, 0, .5);
        color: white;
        padding-top: 45%;
        text-align: center;
        font-size: 1.2rem;
        font-family: 'vazir-bold';
        animation: mainContentBoxImg 150ms ease 1;
    }

    .main-artist-before::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: inline-block;
        margin-left: 10px;
        transition: all .3s;
        border: 2px solid #efefef;
    }

    .spinner {
        width: 44px;
        height: 44px;
        animation: spinner-y0fdc1 2s infinite ease;
        transform-style: preserve-3d;
    }

    .spinner>div {
        background-color: rgba(0, 77, 255, 0.2);
        height: 100%;
        position: absolute;
        width: 100%;
        border: 2px solid #004dff;
    }

    .spinner div:nth-of-type(1) {
        transform: translateZ(-22px) rotateY(180deg);
    }

    .spinner div:nth-of-type(2) {
        transform: rotateY(-270deg) translateX(50%);
        transform-origin: top right;
    }

    .spinner div:nth-of-type(3) {
        transform: rotateY(270deg) translateX(-50%);
        transform-origin: center left;
    }

    .spinner div:nth-of-type(4) {
        transform: rotateX(90deg) translateY(-50%);
        transform-origin: top center;
    }

    .spinner div:nth-of-type(5) {
        transform: rotateX(-90deg) translateY(50%);
        transform-origin: bottom center;
    }

    .spinner div:nth-of-type(6) {
        transform: translateZ(22px);
    }

    @keyframes spinner-y0fdc1 {
        0% {
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
        }

        50% {
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
        }

        100% {
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
        }
    }

    /* LOader */
    .spinner {
        width: 44px;
        height: 44px;
        animation: spinner-y0fdc1 2s infinite ease;
        transform-style: preserve-3d;
    }

    .spinner>div {
        background-color: rgba(0, 77, 255, 0.2);
        height: 100%;
        position: absolute;
        width: 100%;
        border: 2px solid #004dff;
    }

    .spinner div:nth-of-type(1) {
        transform: translateZ(-22px) rotateY(180deg);
    }

    .spinner div:nth-of-type(2) {
        transform: rotateY(-270deg) translateX(50%);
        transform-origin: top right;
    }

    .spinner div:nth-of-type(3) {
        transform: rotateY(270deg) translateX(-50%);
        transform-origin: center left;
    }

    .spinner div:nth-of-type(4) {
        transform: rotateX(90deg) translateY(-50%);
        transform-origin: top center;
    }

    .spinner div:nth-of-type(5) {
        transform: rotateX(-90deg) translateY(50%);
        transform-origin: bottom center;
    }

    .spinner div:nth-of-type(6) {
        transform: translateZ(22px);
    }

    @keyframes spinner-y0fdc1 {
        0% {
            transform: rotate(45deg) rotateX(-25deg) rotateY(25deg);
        }

        50% {
            transform: rotate(45deg) rotateX(-385deg) rotateY(25deg);
        }

        100% {
            transform: rotate(45deg) rotateX(-385deg) rotateY(385deg);
        }
    }
}

@layer utilities {
    .header-scrolled {
        color: black !important;
        background-color: white !important;
        padding: 0 !important;
    }

    .header-zero {
        color: white !important;
        background-color: rgba(255, 255, 255, 0.1) !important;
        box-shadow: 0 0 10px 0 rgba(23, 23, 37, .1) !important;
        padding: 0.5rem !important;
    }

    .header-animation-hide {
        transform: translate3d(0, -100%, 0);
    }

    .header-animation-show {
        transform: translate3d(0, 0, 0);
    }

    .main-content-active-tab {
        @apply border-blue-400
    }

    .main-artist-before:hover::before {
        background: #454a53;
        border-color: #454a53;
    }

    .music-name-animation {
        transition: none;
        background: linear-gradient(to right, #00bcd4 20%, #158be8 40%, #9b30e2 60%, #158be8 80%, #00bcd4 100%);
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip1 3s linear infinite;
        font-weight: 700;
    }
}

@keyframes mainContentBoxImg {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes textclip1 {
    100% {
        background-position: -200% center;
    }
}

html {
    scroll-behavior: smooth;
}

*::selection {
    background-color: black;
    color: white;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-panel {
    background-color: rgba(229, 231, 235, 0.7);
}

@font-face {
    font-family: 'vazir-light';
    src: url(/fonts/Vazir-Light.ttf) format('truetype'),
        url(/fonts/Vazir-Light.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'vazir-regular';
    src: url(/fonts/Vazir.ttf) format('truetype'),
        url(/fonts/Vazir.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'vazir-bold';
    src: url(/fonts/Vazir-Bold.ttf) format('truetype'),
        url(/fonts/Vazir-Bold.woff2) format('woff2');
    font-weight: 700;
}